----- .env.dev -----
PORT=3000
DB=MONGO_CLUSTER_URL
JWT_SECRET=SHA512_HASHED_KEY
USER_HASH=SHA512_HASHED_KEY

ENC_ALGORITHM=aes-256-ctr
ENC_KEY=MD5_HASH_KEY
IV_LENGTH=16
OTP_LENGTH=6
OTP_SECRET=SHA256_HASHED_KEY

----- .env.collections -----
GOOGLE_MAPS_API_KEY=

----- .env.google -----
COLLETION_USER=users

----- .env.aws -----
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
AWS_BUCKET_ENDPOINT=

----- .env.collections -----
COLLETION_MASTER_MODULES = master_modules
COLLETION_MASTER_ACCESS = master_access
COLLETION_MASTER_PRODUCT_CATEGORIES = master_product_categories
COLLETION_MASTER_AD_TYPES = master_ad_types
COLLETION_MASTER_AD_CTAS = master_ad_ctas
COLLECTION_MEDIAS = medias
COLLECTION_ADDRESSES = addresses
COLLECTION_WALLETS = wallets
COLLECTION_COMPANIES = companies
COLLECTION_USERS = users
COLLECTION_USER_PROFILES = user_profiles
COLLECTION_ROLES = roles
COLLECTION_ADVERTISEMENTS = advertisements
COLLECTION_TXN_WALLET_TRANSACTIONS = txn_wallet_transactions

BULL_QUEUE_HOST=localhost
BULL_QUEUE_PORT=6379