{
    "type": "service_account",
    "project_id": "project_id",
    "private_key_id": "private_key_id",
    "private_key": "private_key",
    "client_email": "client_email",
    "client_id": "client_id",
    "auth_uri": "auth_uri",
    "token_uri": "token_uri",
    "auth_provider_x509_cert_url": "auth_provider_x509_cert_url",
    "client_x509_cert_url": "client_x509_cert_url"
}

// To generate a private key file for your service account:

// 1. In the Firebase console, open Settings > Service Accounts.

// 2. Click Generate New Private Key, then confirm by clicking Generate Key.

// 3. Securely store the JSON file containing the key.